# Target System
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_Generic=y
CONFIG_TARGET_x86_64_Generic_DEVICE_generic=y
CONFIG_TARGET_BOARD="x86/64"

# Kernel Modules
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-extras=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-ipt-raw=y
CONFIG_PACKAGE_kmod-ipt-conntrack=y
CONFIG_PACKAGE_kmod-ipt-offload=y
CONFIG_PACKAGE_kmod-ipt-nat=y
CONFIG_PACKAGE_kmod-nf-nathelper=y
CONFIG_PACKAGE_kmod-nf-nathelper-extra=y
CONFIG_PACKAGE_kmod-ipt-extra=y

# Network
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_wget=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_ipset=y
CONFIG_PACKAGE_iptables-mod-tproxy=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_iptables-mod-extra=y

# ShadowsocksR Plus+
CONFIG_PACKAGE_luci-app-ssr-plus=y
CONFIG_PACKAGE_luci-i18n-ssr-plus-zh-cn=y
CONFIG_PACKAGE_shadowsocksr-libev-ssr-redir=y
CONFIG_PACKAGE_shadowsocksr-libev-ssr-server=y
CONFIG_PACKAGE_shadowsocksr-libev-ssr-check=y
CONFIG_PACKAGE_shadowsocksr-libev-ssr-local=y
CONFIG_PACKAGE_shadowsocksr-libev-ssr-tunnel=y
CONFIG_PACKAGE_shadowsocksr-libev-ssr-udpdns=y
CONFIG_PACKAGE_shadowsocksr-libev-ssr-fullcone=y
CONFIG_PACKAGE_shadowsocksr-libev-ssr-polarssl=y

# Luci
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-mod-admin-full=y
CONFIG_PACKAGE_luci-theme-argon=y

# MosDNS
CONFIG_PACKAGE_luci-app-mosdns=y
CONFIG_PACKAGE_mosdns=y
CONFIG_PACKAGE_mosdns-http=y
CONFIG_PACKAGE_mosdns-dns-forwarder=y

# Adguard Home
CONFIG_PACKAGE_adguardhome=y

# Others
CONFIG_PACKAGE_zram-swap=y
CONFIG_PACKAGE_screen=y
CONFIG_PACKAGE_sysstat=y
CONFIG_PACKAGE_wol=y
CONFIG_PACKAGE_ntfs-3g=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_fdisk=y

# Default Settings
CONFIG_DEFAULT_luci=y
CONFIG_DEFAULT_luci-proto-ipv6=n
CONFIG_DEFAULT_luci-proto-ppp=y
CONFIG_DEFAULT_luci-proto-ntlp=n
CONFIG_DEFAULT_luci-proto-ipv4=n
CONFIG_DEFAULT_luci-proto-udp=n
CONFIG_DEFAULT_luci-proto-tcp=n
CONFIG_DEFAULT_luci-proto-icmp=n
CONFIG_DEFAULT_luci-proto-igmp=n
CONFIG_DEFAULT_luci-proto-any=n
CONFIG_DEFAULT_luci-proto-wireguard=y
CONFIG_DEFAULT_firewall=y
CONFIG_DEFAULT_firewall6=y
CONFIG_DEFAULT_adblock=y
CONFIG_DEFAULT_dnsmasq=y
CONFIG_DEFAULT_dropbear=y
CONFIG_DEFAULT_opkg=y
CONFIG_DEFAULT_uhttpd=y
CONFIG_DEFAULT_wireless_tools=y
CONFIG_DEFAULT_wpad-basic=y
CONFIG_DEFAULT_wpadd-mini=n
CONFIG_DEFAULT_ppp-mod-pppoe=y
CONFIG_DEFAULT_kmod-usb-net-rndis=y
CONFIG_DEFAULT_kmod-nls-cp437=y
CONFIG_DEFAULT_kmod-nls-iso8859-1=y
CONFIG_DEFAULT_kmod-nls-utf8=y
CONFIG_DEFAULT_kmod-fs-vfat=y
CONFIG_DEFAULT_kmod-fs-ntfs=y
CONFIG_DEFAULT_kmod-fs-ext4=y
CONFIG_DEFAULT_kmod-fs-btrfs=y
CONFIG_DEFAULT_kmod-ipt-offload=y
CONFIG_DEFAULT_kmod-usb-core=y
CONFIG_DEFAULT_kmod-ledtrig-usbdev=y
CONFIG_DEFAULT_kmod-usb-ohci=y
CONFIG_DEFAULT_kmod-usb-ohci-pci=y
